$mdc-theme-primary: #4285F4;
$mdc-theme-accent: #FFFFFF;
$mdc-theme-background: #FAFAFA;

$canvas: #ECEFF1;
$white: rgba(255, 255, 255, 1);
$whiteSecondary: rgba(255, 255, 255, 0.8);
$blackPrimary: rgba(0, 0, 0, 0.87);
$blackSecondary: rgba(0, 0, 0, 0.54);
$blackScrim: rgba(0, 0, 0, 0.7);

$border: rgba(0, 0, 0, 0.12);
